* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}


.logo, .logo.facebook {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: url('../images/sprites.png') no-repeat blue;
}

.logo.twitter {
    background-position: -100px 0;
    background-color: red;
}

.logo.in {
    background-position: -200px 0;
    background-color: green;
}

.logo.google-plus {
    background-position: -299px 0;
    background-color: yellow;
}

.logo.pinterest {
    background-position: -399px 0;
    background-color: #7b42b2;
}

.logo.elements {
    background-position: 0 -95px;
}

.logo.idea {
    background-position: -105px -95px;
    background-color: red;
}

.logo.blog {
    background-position: -185px -95px;
    background-color: green;
}

.logo.event {
    background-position: -265px -95px;
    background-color: yellow;
}

.logo.map-icon {
    background-position: -350px -95px;
    background-color: #69FF47;
}

.logo.phone {
    background-position: -440px -95px;
    background-color: #11e8ff;
}