* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.first-example {
    font: oblique 20px 'Arial', cursive;
    text-transform: uppercase;
    text-indent: 2rem;
    text-align: left;
    word-spacing: 0.2rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.second-example {
    font-size: 18px;
    text-indent: .6rem;
    text-align: justify;
    word-spacing: 0.4rem;
}

.third-example {
    font-family: Verdana, serif;
    text-transform: capitalize;
    text-align: end;
    letter-spacing: .1rem;
}

.forth-example {
    font-family: "Courier New", cursive;
    text-indent: 0.8rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.fifth-example {
    font: 22px Georgia;
    font-style: italic;
    text-indent: 1.3rem;
    word-spacing: 0.4rem;
    text-transform: uppercase;
}

.sixth-example {
    text-align: right;
    font-size: 16px;
    font-weight: 900;
    font-family: Arial, cursive;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.seventh-example {
    text-transform: capitalize;
    font-size: 15px;
    text-align: left;
    font-family: Arial, cursive;
    font-style: oblique;
}